[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-taggit = "*"
djangorestframework = "*"
# this is a fork of django-taggit-serializer which is slightly more up to date
dj-taggit-serializer = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
